<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="{{rootURL}}assets/css/material-kit.css?v=2.0.0">

<nav class="navbar navbar-default navbar-expand-lg" role="navigation-demo">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                {{#link-to 'about' class="navbar-brand"}}URDoc{{/link-to}}
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {{#link-to 'login' class="btn  btn-rose   btn-round btn-block"}}
                            <i class="material-icons">account_circle</i> Inicia Sesión
                        {{/link-to}}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>

<div class="container">
            <p>
                El Acuerdo de usuario de Twitter se compone de estos Términos de servicio, de nuestra Política de privacidad, de las Reglas de Twitter y de todas las políticas incorporadas a los mismos, si reside en la Unión Europea o fuera de los Estados Unidos. Si reside en Estados Unidos, el Acuerdo de usuario de Twitter se compone de estos Términos de servicio, de nuestra Política de privacidad, de las Reglas de Twitter y de todas las políticas incorporadas a estos.
            </p>

            <h2>Terminos de Servicio</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non ex tincidunt, aliquet orci eget, imperdiet risus. Aenean molestie ullamcorper placerat. Etiam vestibulum mattis vehicula. Proin eu fringilla augue. Cras ac imperdiet nisi. Vivamus gravida interdum sodales. Mauris dignissim dictum lacus. Donec posuere libero ex, sed luctus metus consequat ut. Vestibulum quis semper quam. Nulla sit amet varius nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut accumsan mi. Nunc at lectus vel massa malesuada rhoncus eget a nulla. Nulla facilisi.
            </p>
            <p>
                Nullam vel consectetur diam, eu pulvinar magna. Integer a tincidunt lacus. Curabitur quis gravida quam. Aenean consectetur ligula rutrum, rhoncus nisl eget, hendrerit orci. Phasellus sapien erat, hendrerit non velit pellentesque, pretium condimentum tellus. Curabitur sodales congue ante, eget feugiat leo tristique ut. In magna lorem, maximus eget rutrum sit amet, feugiat eu lacus.

            </p>

            <h3>1. Praesent euismod</h3>
            <p>
                Praesent euismod quam ullamcorper ornare imperdiet. Pellentesque maximus et tortor sed luctus. Proin at urna sodales tortor facilisis faucibus sit amet ut nulla. Proin dignissim, velit eu gravida malesuada, ante felis volutpat elit, at consequat nisi justo id lorem. Morbi auctor augue felis, nec porta nisl sagittis quis. Duis vitae velit condimentum, scelerisque felis id, ultrices quam. Fusce facilisis convallis erat sit amet gravida. Etiam accumsan velit at lacinia ornare. Proin velit odio, fringilla dictum magna id, aliquet blandit nunc. Nulla sed blandit magna. Ut risus magna, tempus a rhoncus vitae, condimentum a lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed turpis dolor, gravida in finibus vitae, consequat in ante.
            </p>

            <h3>2. Aenean vitae</h3>
            <p>
                Aenean vitae nisi sodales, hendrerit tellus a, commodo nisi. Phasellus lacinia ex quis rhoncus malesuada. Duis vulputate diam semper dui maximus, vitae congue nibh fringilla. Pellentesque vitae fringilla augue. Sed elit sem, efficitur in vehicula vitae, suscipit non risus. Pellentesque porta feugiat turpis luctus viverra. Praesent viverra nisi ipsum. Proin porta tellus a leo lacinia pellentesque. Phasellus id massa quis lacus laoreet sollicitudin. Mauris quam urna, pellentesque vitae gravida ac, facilisis ut metus. Praesent vel lacus ornare, convallis lectus at, pretium massa. Nulla suscipit porta nibh quis placerat. Mauris sed ligula aliquam, accumsan velit pellentesque, tincidunt eros. Vivamus viverra diam aliquet, tristique arcu et, congue turpis. 
    
            </p>

            <h3>3. In ut ultrices felis</h3>
            <p>
                In ut ultrices felis. Donec euismod velit dolor, euismod convallis risus dapibus a. Nunc id porttitor est. Nulla facilisi. Vestibulum efficitur facilisis leo. Suspendisse posuere, ipsum interdum rutrum interdum, ligula eros egestas velit, vel vulputate orci massa a metus. Curabitur a orci tempus, fermentum ex ac, suscipit tellus. Morbi pretium turpis in mi scelerisque maximus.            
            </p>

            <h3>4. Interdum et malesuada</h3>
            <p>
               Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent egestas fringilla nibh eget tincidunt. Vestibulum scelerisque, nulla id ultrices suscipit, sem dui euismod odio, vel dignissim nisl mi ac nulla. Morbi molestie mattis elit, in fermentum risus semper quis. Suspendisse leo purus, suscipit ut lorem id, hendrerit lobortis enim. Nullam eleifend, orci id viverra pretium, tellus dui feugiat leo, vel pellentesque lacus augue non ipsum. Cras consequat imperdiet risus eget imperdiet. Nullam mattis magna vitae venenatis efficitur. Mauris in leo finibus libero tincidunt eleifend volutpat quis risus. Pellentesque eu leo a lorem laoreet auctor vel ac ante. Integer a nisl vitae nisl condimentum aliquam. 
            </p>

            <p>
                Vestibulum viverra molestie risus et tempus. Vestibulum ac leo augue. Sed vitae metus eu diam vehicula molestie. Nam odio tellus, condimentum at vulputate mattis, volutpat sit amet justo. Duis imperdiet erat id mollis scelerisque. Curabitur pulvinar nisl at lacus blandit mattis. Etiam imperdiet ac neque nec varius. Ut diam sapien, sodales sit amet tincidunt a, mattis in velit. Phasellus vel lectus fermentum, hendrerit sapien ac, euismod massa. Suspendisse potenti.
            </p>

            <hr>

            <p>
                Quisque interdum, nunc in accumsan viverra, sem ipsum euismod elit, eu sagittis quam urna mollis mauris. Donec quis tellus at justo rhoncus sollicitudin. Fusce eget orci eget elit porta condimentum. Aliquam vel libero eleifend, luctus risus a, convallis ante. Vestibulum ac metus id elit sagittis consequat. Nunc tincidunt, elit at tincidunt consequat, arcu sem efficitur ligula, ut suscipit enim felis sit amet eros. Ut eget urna ex. Vestibulum aliquam laoreet ultrices. Sed ultricies sodales consectetur.
            </p>
            <p>
                Fusce nec odio eleifend, aliquet quam vel, interdum turpis. Mauris eleifend ex sit amet leo lacinia, eu condimentum quam aliquam. Mauris at faucibus lorem. Quisque venenatis nisi ac sem fermentum, eget hendrerit nisl varius. Aliquam erat volutpat. Suspendisse sed mattis nibh. Suspendisse suscipit lorem diam, in feugiat purus tempor ac.
            </p>

            <br> <p>Efectividad: 19 de Marzo del 2018</p>
    </div>