<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="{{rootURL}}assets/css/material-kit.css?v=2.0.0">

<nav class="navbar navbar-default navbar-expand-lg" role="navigation-demo" style="text-decoration-color: black;">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">translate</i> Idioma
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="#Esp" class="dropdown-item">
                                Español
                            </a>
                            <a href="#Ing" class="dropdown-item">
                                Inglés
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        {{#link-to 'login' class="btn  btn-rose   btn-round btn-block"}}
                            <i class="material-icons">account_circle</i> Inicia Sesión
                        {{/link-to}}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>

    <div class="container">
            <h2>Política de Privacidad de URDoc</h2>
            <p>
                Nuestros Servicios conectan instantáneamente a personas de todo el mundo con aquello que más les importa. Por ejemplo, cualquier usuario registrado de Twitter puede enviar un tuit: un mensaje de 140 caracteres o menos, que es público de forma predeterminada y que puede incluir otros contenidos, como fotos, vídeos y enlaces a otros sitios web.
            </p>
            <p>
                Esta Política de Privacidad describe cómo y cuándo recopilamos, empleamos y compartimos su información en nuestras páginas web, SMS, API, notificaciones de correo electrónico, aplicaciones, botones, inserciones, anuncios y en nuestros otros servicios vinculados con esta Política (denominados de forma colectiva los “Servicios”), y cómo lo hacen nuestros socios y terceros. Por ejemplo, usted nos envía información cuando utiliza nuestros Servicios a través de Internet, SMS o una aplicación como Twitter para Mac, Twitter para Android o TweetDeck. Al utilizar cualquiera de nuestros Servicios, usted da su consentimiento para la recopilación, la transferencia, la manipulación, el almacenamiento, la revelación y otros usos de su información según lo descrito en esta Política de Privacidad. Esto incluye cualquier información que elija proporcionar que se considere sensible según la legislación vigente.

            </p>
            <p>
                Cuando en esta política se hace referencia a “nosotros” o “nuestro”, se refiere a los responsables del control de su información según esta política. Si vive en los Estados Unidos de América, el responsable del tratamiento de su información será Twitter, Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103 EE. UU. Si vive fuera de los Estados Unidos de América, el responsable del tratamiento de su información es Twitter International Company, una empresa irlandesa con domicilio social en One Cumberland Place, Fenian Street, Dublín 2 D02 AX07, Irlanda. A pesar de ello, usted es el único responsable y el único que controla la publicación de sus tuits y otros contenidos que pueda enviar a través de los Servicios, según lo establecido en los Términos de servicio y en las Reglas de Twitter.
            </p>

            <p>
                Sea cual sea el país en el que reside, usted nos autoriza a transferir, almacenar y usar su información en los Estados Unidos de América, Irlanda, y en cualquier otro país en el que operemos. En algunos de estos países, las leyes de protección de datos y privacidad y las normativas acerca de cuándo las autoridades gubernamentales pueden acceder a los datos pueden ser distintas de las del país en el que vive. Obtenga aquí más información sobre nuestras operaciones mundiales y la transferencia de datos. 
    
            </p>
            <p>
                Si tiene preguntas o comentarios sobre esta Política de Privacidad, envíe una solicitud para resolverlos a través de nuestro formulario, disponible en https://support.twitter.com/forms/privacy.
            </p>
            <p>
                Suspendisse non arcu suscipit, porta libero quis, sagittis metus. Praesent consectetur malesuada euismod. Ut sed nibh ullamcorper, faucibus lacus vestibulum, auctor risus. Nulla efficitur suscipit dui, vel aliquam risus molestie a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur accumsan porttitor lorem quis ullamcorper. Aenean non porta augue, vel varius leo. Mauris rhoncus est turpis. Maecenas convallis sit amet purus vel pulvinar. Mauris id augue vitae leo pulvinar interdum sed in ipsum. Quisque ac sapien ex. Nulla pellentesque lorem et dui tristique, sed tincidunt felis blandit. Donec non leo euismod lectus porta tincidunt vitae sed erat.
            </p>
            <p>
                Nulla venenatis sollicitudin felis quis aliquam. Sed bibendum, nibh quis viverra vehicula, arcu nulla finibus justo, quis volutpat turpis dui vitae massa. Etiam semper pretium scelerisque. Praesent vitae placerat nibh. Vivamus et scelerisque magna. Integer consequat, dolor quis finibus vehicula, eros tellus feugiat felis, eu blandit enim felis ac elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec leo risus, lobortis vitae tempus ac, consectetur a augue. Aliquam fermentum eros eget ullamcorper molestie. Maecenas at nibh elementum, pharetra magna vitae, dapibus purus. Cras feugiat vestibulum nisl id fermentum. Pellentesque laoreet dui vel nunc convallis facilisis. Donec consectetur pulvinar nibh, eu ullamcorper quam blandit sit amet.
            </p>
            <p>
                Pellentesque tincidunt nec odio ut semper. Nulla facilisi. Aliquam eu vestibulum odio. Suspendisse dolor lectus, porta vel sollicitudin a, volutpat ut ante. Vivamus arcu ligula, gravida viverra dignissim nec, blandit nec nunc. Suspendisse ornare mollis convallis. Vivamus a feugiat lacus, vel volutpat lacus. Aenean in augue metus. Sed mollis, eros eu lobortis ultricies, augue ipsum tincidunt lacus, sed elementum sem nisl sed ligula. Donec ornare a tellus eu tempor. Aenean luctus dui quis orci elementum aliquam. Pellentesque eget leo finibus, euismod ipsum quis, dapibus lorem. Sed ultrices viverra convallis. Integer dictum aliquet tempor. Donec rutrum, tortor vel consectetur sagittis, dolor est cursus risus, eget rutrum elit elit sed ante.
            </p>
            <p>
                Fusce aliquam, lectus in maximus porta, mauris ex egestas nunc, at dignissim orci massa fringilla velit. Praesent nec arcu ullamcorper, interdum orci at, gravida libero. Aliquam tortor sapien, consequat ut egestas vitae, pulvinar vel enim. Quisque molestie libero vitae sodales facilisis. Donec aliquet nulla a eros facilisis vehicula. In ut elit sit amet sapien pulvinar auctor a nec quam. Nulla justo lectus, imperdiet vel condimentum eu, tincidunt at mi. Morbi in mollis justo, eu eleifend lacus. Ut faucibus mi augue, eget tempus tortor venenatis et. In sodales massa libero. Vestibulum sed vestibulum velit.
            </p>
        </div>